---
import Layout from '@/layouts/Layout.astro';

import MailForm from '@/components/MailForm'

import '@/styles/globals.css'
---

<Layout title="Time capsule">
	<h1>Email with Astro + Resend</h1>

	<MailForm client:load />
	<a href="/success">Go to success page</a>
</Layout>
