---
import Layout from '@/layouts/Layout.astro';

import MailForm from '@/components/MailForm'

import '@/styles/globals.css'
---

<Layout title="Welcome to Astro.">
	<main>
        <h1>Email with Astro + Resend</h1>

        <MailForm client:load />
	</main>
</Layout>
