---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Successfully send an email">
    <h1>Email with Astro + Resend</h1>
    <p>Email sent successfully.</p>
    <p><a href="/">Go home</a></p>
</Layout>
